{
    "overrides": [
        {
            "files": ["*.js", "*.ts"],
            "options": {
                "printWidth": 99,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "bracketSpacing": false
            }
        },
        {
            "files": ".*",
            "options": {
                "printWidth": 99,
                "tabWidth": 4,
                "useTabs": false,
                "singleQuote": false,
                "bracketSpacing": false
            }
        }
    ]
}
